<h2>フォロワーリスト</h2>
<table class="table">
  <thead>
    <th>アカウント</th>
    <th>名前</th>
    <th>ロケーション</th>
    <th>プロフィール画像</th>
    <th>つながり</th>
  </thead>
  <%= render :partial => 'my_followers', :collection => my_followers %>
</table>
