<h2>起点ユーザのツイート表示画面</h2>
<table class="table">
  <tr>
    <th>表示名</th>
    <th>ツイート数</th>
  </tr>
  <tr>
    <td><%= @search_screen_name %></td>
    <td><%= @tweet_data_count %></td>
  </tr>
</table>

